@import 'theme';

.page {
  display: block;
  position: fixed;
  margin: 0;
  width: 100vw;
  height: 100vh;
  box-shadow: $box-shadow inset;
}

.button {
  height: 20vh;
  background-color: $highlight-color;
  transform: translateY(0%);
  transition: 0.5s transform ease;
}

.button-top {
  width: 20vw;
  top: 25%;
}

.button-bottom {
  width: 80vw;
  left: 10%;
  top: 58%;
}

.button-label {
  width: calc(100%);
  height: calc(100%);
  line-height: 20vh;
  color: $text-color;
  background-color: rgba(80, 80, 80, 0.2);
  opacity: 1;
  font-size: 3.5vw;
  font-weight: bold;
  text-shadow: 1px 1px 10px black;
}

a.button {
  text-decoration: none;
}

.box[data-button="linkedin"] {
  left: 10%;
  /*background-color: #0077B5;*/
  background-image: url('../media/linkedin.png');
}

.box[data-button="github"] {
  left: 40%;
  /*background-color: #6e5494;*/
  background-image: url('../media/github.png');
}

.box[data-button="resume"] {
  left: 70%;
  /*background-color: #88acba;*/
  background-image: url('../media/resume.png');
}

.box[data-button="portfolio"] {
  /*background-size: 50%;*/
  /*left: 70%;*/
  /*background-color: teal;*/
  background-image: url('../media/portfolio.png');
}
