body {
    margin: 0;
    background-color: #B0B0B0;
    color: whitesmoke;
    overflow: hidden;
    font-family: 'Montserrat';
    letter-spacing: 1px;
}

.page {
    display: block;
    position: fixed;
    margin: 0;
    width: 100vw;
    height: 100vh;
    box-shadow: 0px 0px 30px 0px black inset;
}

.box {
    display: block;
    position: absolute;
    background-color: #404040;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 30px 0px black;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.title {
    font-size: 3vh;
    height: 15%;
    width: 100vw;
}

.title h2 {
    padding: 1vh;
}

.footer {
    font-size: 2vh;
    bottom: 2vh;
    height: 10%;
    width: 100%;
}

.button {
    top: 30%;
    width: 20vw;
    height: 20vh;
    background-color: white;
    transform: translateY(0%);
    transition: 0.5s transform ease;
}

.button-label {
    margin: 0;
    width: 100%;
    height: 100%;
    line-height: 300%;
    box-shadow: 0px 0px 50px 0px black inset;
    color: white;
    background-color: darkslategrey;
    opacity: 0.8;
    font-size: 4vw;
    text-shadow: 0px 0px 30px black;
}

.box[data-button="linkedin"] {
    left: 10%;
    background-image: url('https://image.flaticon.com/icons/png/512/8/8707.png');
    background-size: 45%;
}

.box[data-button="github"] {
    left: 40%;
    background-image: url('https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png');
}

.box[data-button="resume"] {
    background-size: 80%;
    left: 70%;
    background-image: url('http://maxpixel.freegreatpicture.com/static/photo/1x/Paper-Headline-News-Icon-Highlight-Newspaper-2935367.png');
}
