@import 'theme';

.title {
  //Override
  text-align: left;
  padding-left: 4vw;
  font-size: 2vh;
  height: 8%;

  .backlink {
    position: absolute;
    width: 40vw;
    top: 0px;
    left: 56vw;
    padding-right: 4vw;
    text-align: right;

    a {
      text-decoration: none;
    }

    img {
      height: 3vh;
      -webkit-filter: invert(1);
      filter: invert(1);
    }
  }
}
