@import 'theme';

.title {
  //Override
  text-align: left;
  padding-left: 4vw;
  font-size: 2vh;
  height: 8%;

  .backlink {
    position: absolute;
    width: 40vw;
    top: 0px;
    left: 56vw;
    padding-right: 4vw;
    text-align: right;

    a {
      text-decoration: none;
    }

    img {
      pointer-events: none;
      height: 3vh;
      -webkit-filter: invert(1);
      filter: invert(1);
    }
  }
}

#app {
  position: absolute;
  width: 100vw;
  height: 84vh;
  top: 8%;

  #categories {
    .button {
      //Override
      height: 22vh;
      width: 45vw;
      background-size: cover;
    }

    #cat-all {
      position: absolute;
      width: 94vw;
      top: 5vh;
      left: 3vw;
      // Tile Background Image by David OReilly
      background-image: url('../media/everything.png')
    }

    #cat-software {
      position: absolute;
      top: 31vh;
      left: 3vw;
      background-image: url('../media/software.png')
    }

    #cat-games {
      position: absolute;
      top: 31vh;
      right: 3vw;
      background-image: url('../media/games.png')
    }

    #cat-web {
      position: absolute;
      top: 57vh;
      left: 3vw;
      background-image: url('../media/websites.png')
    }

    #cat-bots {
      position: absolute;
      top: 57vh;
      right: 3vw;
      background-image: url('../media/robots.png')

    }
  }

  #projects {
    height: 100%;
    overflow-y: scroll;
    font-size: 2vw;

    .button {
      //Override
      height: 22vh;
      width: 45vw;
    }

    .category-toggle {
      position: relative;
      display: inline-block;
      margin-left: 5vw;
      width: 18vw;
      padding: 5px;
      border-radius: 10px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      background-color: $box-color;
      text-align: center;
      font-weight: normal;
    }

    .category-toggle[active=true] {
      color: darkslategrey;
      background-color: $highlight-color;
      font-weight: bolder;
      box-shadow: 2px 2px 5px #888, 0px -2px 5px $highlight-color;
      background-image: url('../media/checkmark.png');
      background-size: contain;
      background-repeat: no-repeat;

      padding: 5px;
      background-origin: content-box;
    }

  }

}

// Transitions
.fade-enter-active, .fade-leave-active {
  z-index: 5;
  //transition: opacity .5s;
  transform: translateX(0%);
  transition: 0.6s transform ease;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  z-index: 5;
  transform: translateX(100%);
  transition: 0.6s transform ease;
  //opacity: 0;
}