.App {
  width: 100vw;
  height: 100vh;
  text-align: center;
  background-color: #222;
  color: white;
}

.App-icon {
  padding: 5px;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
}

.About-content {
  padding: 5vh;
  font-size: 6vh;
  width: 90vw;
  height: 90vh;
}

.About-content div {
    background-color: #333;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
