.hex {
    display: block;
    position: relative;
    top: -px;
    height: 20px;
    margin-left: auto;
    margin-right: auto;
    z-index: -11;
}

.rect {
    padding: 0;
    position: relative;
    width: calc(100%-120px);
    height: 20px;
    margin-left: 20px;
    margin-right: 20px;
    top: -40px;
    background: #000;
    z-index: -10;
    border-bottom: 20px solid transparent;
    transition: font-size 0.2s; 
}

.leftTri {
    position: relative;
    top: 0px;
    left: 0px;
    width: 20px;
    height: 20px;
    padding: 0;
    border-top: 20px solid #000;
    border-bottom: 20px solid transparent;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    z-index: -11;
}

.rightTri {
    position: relative;
    top: -60px;
    margin-left: auto;
    margin-right: 0px;
    width: 20px;
    height: 20px;
    padding: 0;
    border-top: 20px solid #000;
    border-bottom: 20px solid transparent;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    z-index: -11;
}


.contents {
    font-weight: bold;
    position: relative;
    bottom: 3px;
    text-align: center;
    color: whitesmoke;
    text-decoration: none;
}

.blueTri {
    border-top: 20px solid#2C7BD4
}

.rect:hover {
    transition: font-size 0.2s; 
    font-size: 18px;
}

@media (min-width:1025px) { 
    .hex {
        display: block;
        position: relative;
        top: -1px;
        height: 40px;
        margin-left: auto;
        margin-right: auto;
        z-index: -11;
    }
    
    .rect {
        padding: 0;
        position: relative;
        width: calc(100%-120px);
        height: 40px;
        margin-left: 40px;
        margin-right: 40px;
        background: #000;
        top: -20px;
        z-index: -10;
        font-size: 22px;
        transition: font-size 0.2s; 
    }
    
    .leftTri {
        position: relative;
        top: 60px;
        left: 0px;
        width: 40px;
        height: 60px;
        padding: 0;
        border-top: 40px solid #000;
        border-bottom: 40px solid transparent;
        border-left: 40px solid transparent;
        border-right: 40px solid transparent;
        z-index: -11;
    }
    
    .rightTri {
        position: relative;
        top: -60px;
        margin-left: auto;
        margin-right: 0px;
        width: 40px;
        height: 60px;
        padding: 0;
        border-top: 40px solid #000;
        border-bottom: 40px solid transparent;
        border-left: 40px solid transparent;
        border-right: 40px solid transparent;
        z-index: -11;
    }
    
    .blueTri {
        border-top: 40px solid#2C7BD4
    }
    
    .rect:hover {
        transition: font-size 0.2s; 
        font-size: 26px;
    }
} 

.blueRect {
    background: #2C7BD4
}