<!DOCTYPE html>

<!--suppress ALL -->
<head>
    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="../css/portfolio.css" />

    <!-- Title/Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Virtual Portfolio</title>
    <meta name="description" content="Virtual Portfolio">

    <!-- Scripts -->
    <!-- JQuery -->
    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
    <!-- Vue -->
    <script defer src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>

    <!-- Custom -->
    <script defer src="../js/portfolio.js" charset="utf-8"></script>
    <script defer src="../js/main.js" charset="utf-8"></script>

</head>

<noscript>
    <h2>Uh oh... This page requires javascript!</h2>
</noscript>

<body hidden>
<div class="page">
<!-- Header -->
<div class="box title">
    <h2>
        MATTICOLI
        <h5 title="Back to landing page" class="backlink">
            <a href="../">
                <img alt="Back Arrow" src="../media/back-arrow.png">
                &nbsp;
                <img alt="GitHub Icon" src="../media/github.png">
                &nbsp;
                <img alt="LinkedIn Icon" src="../media/linkedin.png">
                &nbsp;
                <img alt="Resume Icon" src="../media/resume.png">
            </a>
        </h5>
    </h2>
</div>

<!-- Vue App -->
<div id="app" class=".app">

    <transition name="fade">
        <!-- Render project list if category selected -->
        <div id="projects" v-if="showProjects">
            <div>
                <template v-for="category in Object.keys(selectedCategories)">
                    <div class="category-toggle"
                         v-bind:id="category"
                         v-bind:active="selectedCategories[category]"
                         v-on:click="handleCategoryChange">
                        <!--<img v-if="selectedCategories[category]"-->
                             <!--src=""-->
                             <!--v-bind:id="category"-->
                             <!--v-on:click="handleCategoryChange">-->
                        {{ category }}
                    </div>
                </template>
            </div>

            <!--<a id="cat-all" title="All Projects" class="box button" >-->
                <!--<div class="box button-label">All Projects</div>-->
            <!--</a>-->

        </div>
    </transition>
    <transition name="fade">
        <!-- Render category tiles if none selected -->
        <div id="categories" v-if="!showProjects">
            <!-- Tile Background Image by David OReilly -->
            <!--suppress HtmlUnknownAttribute -->
            <div id="cat-all" title="All Projects" class="box button" v-on:click="showAllCategories">
                <div class="box button-label">All Projects</div>
            </div>
            <a id="cat-software" title="Software" class="box button" >
                <div class="box button-label">Software</div>
            </a>
            <a id="cat-games" title="Games" class="box button" >
                <div class="box button-label">Games</div>
            </a>
            <a id="cat-web" title="Websites" class="box button" >
                <div class="box button-label">Websites</div>
            </a><a id="cat-bots" title="Bots & Stuff" class="box button" >
                <div class="box button-label">Bots & Stuff</div>
            </a>
        </div>
    </transition>
</div>

<!-- Footer -->
<div class="box footer">
    <h4 title="Questions? Comments? Job Offer? Feel free to email/text/call me!">© 2018 Mikel Matticoli<br><a href="mailto:mikel.matticoli@gmail.com">mikel.matticoli@gmail.com</a> • <a href="tel:1-732-798-0251">1-732-798-0251</a></h4>
</div>

</div>

</body>
</html>
