.header {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 66px;
	padding: 0;
	background: #000;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	z-index: 50;
}

.header h1 {
	position: relative;
	width: 220px;
	display: block;
	margin: 0;
	margin-top: 15px;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	font-size: 30px;
	line-height: 30px;
	font-weight: bold;
	text-align: center;
	background-color: black;
	color: #FFF;
}

.header nav {
	float: right;
	font-size: 100%;
	margin-right: 10px;
}

.header nav a {
	margin-top: 10px;
	margin-bottom: 10px;
	display: inline-block;
	height: 36px;
	line-height: 36px;
	padding: 0 15px;
	min-width: 50px;
	text-align: center;
	background: rgba(255,255,255,0);
	text-decoration: none;
	color: #FFF;
	font-weight: bold;
	will-change: background-color;
}

.header nav.navleft {
	float: left;
}

.header nav a:hover,
.header nav a:active {
	background: rgba(0,131,176,0.3);
}

.header nav a.active {
	color: rgba(79,131,204,1);
}

.mainHeader {
	font-size: 4em;
}

.headerLine {
	border-bottom: 2px solid #2C7BD4;
	position: relative;
	top: 31px;
}

.headerRectBorder {
	border-bottom: 1px solid #2C7BD4;
	position: relative;
	top: 0px;
}


.headerButton {
	display: flex;
	margin-top: 7px;
	color: white;
	text-decoration: none;
	font-size: 16px;
	line-height: 20px;
	margin-left: 10px;
	margin-right: 10px;
	z-index: 20;
}

.headerButtonImage {
	height: 20px;
	width: 20px;
	margin-right: 2px;
}

.headerTabs {
	margin-top: 0px;
}

@media (min-width:1025px) {
	.header h1 {
		font-size: 2em;
	}

	.headerButton {
		padding-top: 5px;
		font-size: 22px;
		line-height: 30px;
		margin-left: 15px;
		margin-right: 15px;
	}

	.headerButton:hover {
		font-size: 24px;
		transition: font-size 0.2s; 
	}


	.headerButtonImage {
		height: 30px;
		width: 30px;
		margin-right: 2px;
	}

	.headerRectBorder {
		border-bottom: 1px solid #2C7BD4;
		position: relative;
		top: 59px;
	}
}